
  header {
    text-align: center;
    }
  ul {
    padding: 30px
    background: #f00;
    }
  body {
    text-align: center;
    background: url("http://i61.photobucket.com/albums/h48/kiran8654/DSCN1052.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
  }
  a {
    color: beige;
    }
  img {
    margin: 80px 0px 0px 0px;
    }
    #bug1 {
      max-width: 200px;
      max-height: inherit;
    }
    #bug2 {
      max-width: 200px;
      max-height: inherit;
    }
  p {
    font-size: 22px;
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  input[type="submit"] {
    background: green;
    color: white;
  }
